.list {
    list-style-type:none;
}
.aside {
    float: left;
    height: 600px;
    padding: 30px;
    position: relative;
    left: 30px;
    top: 150px;
    
}
.header {
    padding: 5px;
    background-color: rgb(167, 148, 125);
    border-radius: 15px;
    width: 1000px;
    position: fixed;
}
.letter {
    background-color: rgb(167, 148, 125);
    border-radius: 15px;
    width: 500px;
    margin-left: 150px;
    position: sticky;
    top: 0px;
}
.address {
    position: relative;
    left: 150px;
    top: 150px;
}
body {
    background: -webkit-linear-gradient(45deg, rgb(223, 218, 199), rgb(157, 129, 107));
    background: -moz-linear-gradient(45deg, rgb(223, 218, 199), rgb(157, 129, 107));
    background: linear-gradient(45deg, rgb(223, 218, 199), rgb(157, 129, 107));
    height: 100%;
}